<% include ./partial/header %>
<div class="container"
style=" position: relative;
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px 0 30px 0;
width: 40%;
margin-top: 50px;

">
  
      <form action="/warden/<%=warden._id%>?_method=PUT" method="POST">
        <div class="row">
          <div class="col">
            <h1 style="text-align:center;">Edit Profile<%= warden.name%></h1>
            <div class="form-group form-inline">
              <label
                for="name"
                style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    "
                >Name</label
              >
              <input
                class="form-control"
                type="text"
                id="name"
                value="<%= warden.name%>"
                name="warden[name]"
              />
            </div>
            <div class="form-group form-inline">
              <label
                for="username"
                style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    "
                >Username</label
              >
              <input
                class="form-control"
                type="text"
                id="username"
                value="<%= warden.username%>"
                name="warden[username]"
              />
            </div>
            <div class="form-group form-inline">
              <label
                for="hostel"
                style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    "
                >Hostel</label
              >
              <input
                class="form-control"
                type="text"
                id="hostel"
                value="<%= warden.hostel%>"
                name="warden[hostel]"
              />
            </div>

            <div class="form-group form-inline">
              <label
                for="url"
                style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    "
                >Image-url</label
              >
              <input
                class="form-control"
                type="text"
                id="url"
                value="<%= warden.image%>"
                name="warden[image]"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block" style="color: white;">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <a href="/warden/profile">Back</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
