<% include ./partial/header %>
<div
  class="container"
  style=" position: relative;
border-radius: 5px;
background-color: #f2f2f2;
padding: 60px 0 30px 0;
width: 40%;

"
>

    
    
      <form action="/student/<%=student._id%>?_method=PUT" method="POST" style="margin-top: 20px;">
        <div class="row">
          <div class="col">
              <h1 style="text-align:center;">Edit Profile <%= student.name%></h1>
              <div class=" form-group form-inline">
                  <label for="name" style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Name</label>
                  <input
                    class="form-control"
                    type="text"
                    id="name"
                    value="<%= student.name%>"
                    name="student[name]"
                  />
                </div>
                <div class=" form-group form-inline">
                    <label for="username" style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    ">Username</label>
                  <input
                    class="form-control"
                    type="text"
                    id="username"
                    value="<%= student.username%>"
                    name="student[username]"
                  />
                </div>
                <div class=" form-group form-inline">
                    <label for="department" style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    ">Department</label>
                  <input
                    class="form-control"
                    type="text"
                    id="department"
                    value="<%= student.department%>"
                    name="student[department]"
                  />
                </div>
                <div class=" form-group form-inline">
                    <label for="hostel" style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    ">Hostel</label>
                  <input
                    class="form-control"
                    type="text"
                    id="hostel"
                    value="<%= student.hostel%>"
                    name="student[hostel]"
                  />
                </div>
                <div class=" form-group form-inline">
                    <label for="url" style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    ">Image-url</label>
                  <input
                    class="form-control"
                    type="text"
                    id="url"
                    value="<%= student.image%>"
                    name="student[image]"
                  />
                </div>
                <div class="form-group" >
                  <button class="btn btn-lg btn-default btn-block" style="color:#f2f2f2">Submit</button>
                </div>
          </div>
        </div>
        
      </form>
      <a href="/student/<%= student.id%>">Back</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
