<% include ./partial/header %><% include ./partial/hodfunction %>
<div
  class="col-sm-6"
  style="    flex: 0 0 50%;
    max-width: 60%;
    margin-left: 431px;
    margin-top: -165px;  text-align: -webkit-center;"
>
  <table
    class="content-table"
    style="margin: 50px auto;min-width:400px;"
  >
    <tr
      style="background-color: #28A745; border-radius: 5px 5px 0 0;overflow: hidden;  color: #ffffff;text-align: left; font-weight: bold;"
    >
      <th>
        Student Name
      </th>
      <th>
        From
      </th>
      <th>To</th>
      <th>Days</th>
      <th>Status</th>
      <th></th>
    </tr>
    <%students.forEach(function(student){%> <% if(student.leaves.length>0){%>
    <tr>
      <th><%=student.name%></th>
      <%student.leaves.forEach(function(leave){%>
      <td><%=moment(leave.from).format('DD/MM/YYYY')%></td>
      <td><%=moment(leave.to).format('DD/MM/YYYY')%></td>
      <td><%=leave.days%></td>
      <td><%=leave.status%></td>

      <td>
        <%if(leave.status==="pending"){%>
        <a
          href="/hod/<%=hod.id%>/leave/<%=student.id%>/info"
          class="btn btn-block btn-success"
          >more info</a
        >
        <%}%>
      </td>
      <%})}%> <%})%>
    </tr>
  </table>
</div>

<% include ./partial/footer %>
