<% include ./partial/header %>
<% include ./partial/studfunction %> 
<div
class="col-sm-6"
style="    flex: 0 0 50%;
max-width: 60%;
margin-left: 431px;
margin-top: -181px;  text-align: -webkit-center;"
>
      <div class="thumbnail">
        <img
          style="height:100px;width:100px;border-radius: 100%"
          src="<%=student.image%>"
        />
        <h4>Name: <%=student.name%></h4>
        <h4>Type:<%=student.type%></h4>

        <h4>Username: <%=student.username%></h4>
        <h4>Department:<%=student.department%></h4>
        <h4>Hostel: <%=student.hostel%></h4>
      </div>
    </div>

    <div class="container" >
      <table class="content-table"
      style="margin: 50px auto;min-width:400px;width: 90%;">
        <tr  style="background-color: #28A745; border-radius: 5px 5px 0 0;overflow: hidden;  color: #ffffff;text-align: left; font-weight: bold;"
        >
          <th>
            Subject
          </th>
          <th>
            From
          </th>
          <th>To</th>
          <th>Days</th>
          <th>Status</th>
        </tr>
        <%student.leaves.forEach(function(leave){%>

        <tr>
          <td><%=leave.subject%></td>
          <td><%=moment(leave.from).format('DD/MM/YYYY')%></td>
          <td><%=moment(leave.to).format('DD/MM/YYYY')%></td>
          <td><%=leave.days%></td>
          <td><%=leave.status%></td>
        </tr>

        <%})%>
      </table>
    </div>

    <% include ./partial/footer %>
  </div>
</div>
