<% include ./partial/header %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80"
        class="fixed-height d-block w-100"
        alt="First slide"
        width="500px" height="400px"
        
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Learn</h5>
        <p>An investment in knowledge always pays the best interest.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80"
        class="fixed-height d-block w-100"
        style="max-width:100%;height:100%;"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Develop</h5>
        <p>“Education is not the filling of a pail, but the lighting of a fire.”</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1510590337019-5ef8d3d32116?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
        class="fixed-height d-block w-100"
        style="max-width:100%;height:100%;"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Be Passionate</h5>
        <p>Develop a passion for learning. If you do, you will never cease to grow.</p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div id="scrollspy1" style="border: 1px solid black;">
  <div
    class="jumbotron"
    style="height: 600px ;    background-image: url('https://www.bluleadz.com/hs-fs/hubfs/Meet%20the%20Team%20Page%20examples.png?width=900&name=Meet%20the%20Team%20Page%20examples.png');    background-color: #008cbf;
    color: #ffffff;
    box-shadow: inset 50px 50px 100px #000000, inset -50px -50px 100px #000000;
    padding-top: 18em;
    
  
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    
    justify-content: center;
    background-repeat: no-repeat;
    "
  >
    <div class="contact" style="color: white;">
      <h1 style=" font-weight: bold; color: white; ">
        We'd love to hear from you
      </h1>
      <p style="font-weight: bold;">
        Need to get in touch with the team?We're all ears.Our team is here to
        help you.
      </p>
    </div>
  </div>
  <div class="team">
    <p style="font-size: 25px; text-align: center; font-weight: bold;">
      THE TEAM
    </p>
  </div>

  <div class="container">
    <div class="row" style="padding-bottom:40px; ">
      <div class="col-sm-4">
        <div class="card" style="background-color: #28A745;">
          <img
            class="card-img-top"
            style="height: 400px;"
            src="https://scontent.fpbh1-1.fna.fbcdn.net/v/t39.30808-6/315208266_1457426744750328_5462170874433363239_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=VNL53fO3O5gAX-CzyAp&tn=i0FigUIfmRckmPXk&_nc_ht=scontent.fpbh1-1.fna&oh=00_AfDT8oqzhuUkaIINne5GxDDSd1cJ_XQxo94x3Vk_KjLUqQ&oe=636FDE66"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title"style="color: white;">Jamyang Choden</h4>
            <p class="card-text" style="color: white">Tutor/Guide</p>
            <!-- <a href="#" class="btn btn-warning card-link">View Profile</a> -->
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: #28A745;">
            <img
              class="card-img-top"
              style="height: 400px;"
              src="https://scontent.fpbh1-1.fna.fbcdn.net/v/t39.30808-6/315023122_1457426724750330_1057814161069451387_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=4sBxk8MFf5cAX_d924r&tn=i0FigUIfmRckmPXk&_nc_ht=scontent.fpbh1-1.fna&oh=00_AfC0LHamx6-MTjYAotTGPG-HwFjNcztmtJUTbSSPkchCCQ&oe=6370B5C0"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title"style="color: white;">Sonam Yangchen</h4>
              <p class="card-text" style="color: white;">Product Owner</p>
              <!-- <a href="#" class="btn btn-warning card-link">View Profile</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: #28A745;">
            <img
              class="card-img-top"
              style="height: 400px;"
              src="https://scontent.fpbh1-1.fna.fbcdn.net/v/t39.30808-6/315044307_1457426611417008_236429235082622572_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=tI7Hy1sMo1kAX8GP0bR&_nc_ht=scontent.fpbh1-1.fna&oh=00_AfBXPauUE9kRMpWQ7diy9fWxPrVLf32KRd6b6LyKMluzcw&oe=636FF281"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title"style="color: white;">Sonam Choki</h4>
              <p class="card-text" style="color: white;">Scrum Master</p>
              <!-- <a href="#" class="btn btn-warning card-link">View Profile</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: #28A745;">
            <img
              class="card-img-top"
              style="height: 400px;"
              src="https://scontent.fpbh1-1.fna.fbcdn.net/v/t39.30808-6/315061581_1457426698083666_9095337583116353430_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=HlVRtxlaEqAAX_dR_OZ&_nc_oc=AQl1SkxYPmEfKKMBpfA_c8oHlQqlT60x_KPwEM5lcqjb2scX9FuoZ4YYdKAbXSMJSGU&tn=i0FigUIfmRckmPXk&_nc_ht=scontent.fpbh1-1.fna&oh=00_AfDKsg7BnYic7EbrX-u_TQWJo_ECInKyKQHT_XEpeVtbcg&oe=63706D13"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title"style="color: white;">Tshering Dawa</h4>
              <p class="card-text" style="color: white;">Developer</p>
              <!-- <a href="#" class="btn btn-warning card-link">View Profile</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: #28A745;">
            <img
              class="card-img-top"
              style="height: 400px;"
              src="https://scontent.fpbh1-1.fna.fbcdn.net/v/t39.30808-6/315007554_1457426641417005_8914616597295518415_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=730e14&_nc_ohc=of0LhcJjUtYAX96BkJI&_nc_ht=scontent.fpbh1-1.fna&oh=00_AfCxwNMDWiHJtpgPpZH9_GnHH4FQg5LLP0UUw8f3E3Gk3A&oe=6370F5D0"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title" style="color: white;">Tshering Penjor</h4>
              <p class="card-text" style="color: white;">Developer</p>
              <!-- <a href="#" class="btn btn-warning card-link">View Profile</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: #28A745;">
            <img
              class="card-img-top"
              style="height: 400px;"
              src="https://scontent.fpbh1-1.fna.fbcdn.net/v/t39.30808-6/315090065_1457426631417006_8017726128043546602_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=lXryXX-2EWgAX_iTBQc&_nc_ht=scontent.fpbh1-1.fna&oh=00_AfDzUPhUCguV9X38j6ehiU-xoQ_YfTIDODV6lTjzli1esA&oe=6370103C"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title" style="color: white;">Ugyen Tenzin</h4>
              <p class="card-text" style="color: white;">Developer</p>
              <!-- <a href="#" class="btn btn-warning card-link">View Profile</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partial/footer %>
