<% include ./partial/header %> <% include ./partial/studfunction %>

<div
  class="col-sm-6"
  style="    flex: 0 0 50%;
max-width: 50%;
margin-left: 431px;
margin-top: -181px;  text-align: -webkit-center;"
>
  <h2>Apply for leave here <%=student.name%></h2>
  <form action="/student/<%=student._id%>/apply" method="POST">
    <div class="form-group">
      <input
        type="text"
        placeholder="subject"
        style="padding: 20px 20px;"
        name="leave[subject]"
        class="form-control"
      />
    </div>
    <div class="form-group" style="position: relative;">
      <label for="from">From:</label>
      <input
        type="date"
        data-date-inline-picker="true"
        id="from"
        name="leave[from]"
      />
    </div>
    <div class="form-group" style="position:relative;">
      <label for="to">To:</label>
      <input
        type="date"
        data-date-inline-picker="true"
        id="to"
        name="leave[to]"
      />
    </div>

    <div class="form-group">
      <button class="btn btn-lg btn-block btn-default" style="color: white;">Submit</button>
    </div>
  </form>

  <% include ./partial/footer %>
</div>
