<% include ./partial/header %><% include ./partial/hodfunction %>
<div
  class="col-sm-6"
  style="    flex: 0 0 50%;
    max-width: 60%;
    margin-left: 431px;
    margin-top: -200px;  text-align: -webkit-center;"
>
  <form action="/hod/<%=hod.id%>/leave/<%=student.id%>/info" method="POST" style="margin-left: -200px;">
    <div class="container-fluid bg-3 text-center">
      <h4 style="margin-top: 40px;"><%=student.name %></h4>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <!-- <img
            style="height:150px;width:150px;border-radius: 100%"
            src="<%=student.image%>"
            alt="image"
          /> -->
        </div>
        <%student.leaves.forEach(function(leave){%>
        <div class="col-sm-4" style="width: 100%">
          <h4> Subject:<%=leave.subject %></h4>
          <h4>Status:<%=leave.status %></h4>
          <h4>From:<%=moment(leave.to).format('DD/MM/YYYY') %></h4>
          <h4>To:<%=moment(leave.from).format('DD/MM/YYYY') %></h4>
          <h4>Leave Days:<%=leave.days%></h4>
          <h4>Department:<%=student.department %></h4>
          <div class="col-sm-6">
            <input
              type="submit"
              class="btn btn-block btn-success"
              name="action"
              
              value="Approve"
              style="margin-left: 70px;"
            />
            <input
              type="submit"
              class="btn btn-block btn-danger"
              name="action"
              style="margin-left: 70px;"
              value="Deny"
            />
          </div>
        </div>

        <%})%>
      </div>
    </div>
  </form>
  <% include ./partial/footer %>
</div>
