<% include ./partial/header %> <% include ./partial/wardenfunction%>


<div class="col-sm-6" style="    flex: 0 0 50%;
max-width: 50%;
margin-left: 431px;
margin-top: -251px;  text-align: -webkit-center; margin-top: -200px;" >
      <div class="thumbnail">
        <img style="height:150px;width:150px;border-radius: 100%" src="<%=warden.image%>" />
        <h4>Name: <%=warden.name%></h4>
        <h4>Type:<%=warden.type%></h4>

        <h4>Username: <%=warden.username%></h4>
        <h4>Hostel:<%=warden.hostel%></h4>
      </div>
      <a class="btn btn-warning" href="/warden/<%=warden._id%>/edit" style="color: white;">Edit</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
