<% include ./partial/header %><% include ./partial/hodfunction %>

    <div class="col-sm-6" style="    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 431px;
    margin-top: -165px; text-align: -webkit-center;">
      <div class="thumbnail">
        <img style="height:150px;width:150px;border-radius: 100%" src="<%=hod.image%>" />
        <h4>Name: <%=hod.name%></h1>
        <h4>Type:<%=hod.type%></h4>

        <h4>Username: <%=hod.username%></h4>
        <h4>Department:<%=hod.department%></h4>
      </div>
      <a class="btn btn-warning" href="/hod/<%=hod._id%>/edit" style="color: white;" >Edit</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
