<% include ./partial/header %> <% include ./partial/studfunction %>

  
    <div class="col-sm-6" style="    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 431px;
    margin-top: -181px; text-align: -webkit-center;">
      <div class="thumbnail">
        <img  style="height:150px;width:150px;border-radius: 100%" src="<%=student.image%>" />
        <h4>Name: <%=student.name%></h4>
        <h4>Type:<%=student.type%></h4>

        <h4>Username: <%=student.username%></h4>
        <h4>Department:<%=student.department%></h4>
        <h4>Hostel: <%=student.hostel%></h4>
      </div>
      <a class="btn btn-warning" style="color: white;" href="/student/<%=student._id%>/edit">Edit</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
