<% include ./partial/header %>
<div class="lop"style="border:1px solid pink;">
    <% if (locals.errors) { %>
      <div class="alert alert-danger" role="alert"style="">
        <% locals.errors.forEach(function(errors) { %>
        <h5><%= errors.msg %></h5>

        <% }); %>
      </div>
      <% } %>
</div>
<div
  class="container"
  style=" position: relative;
border-radius: 5px;
background-color: #f2f2f2;
padding: 60px 0 30px 0;
width: 40%;

"


>

        

        <form action="/student/register" method="POST" style="margin: 0 auto;">
          <div class="row">
            <div class="col">
              <h2 style="    text-align: center;">
                Register
              </h2>
              <div class="form-group form-inline">
                <label for="name" style="width: 200px;
                display: inline-block;
                text-align: right;
                
                ">Name</label>
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  placeholder="name"
                  name="name"
                  style="float: left;;
                  text-align: left;
                  "
                />
              </div>
              <!-- type -->
              <!-- <div id="rates" class="form-group"style="width: 400px;
              display: inline-block;
              text-align: right;
              ">
                <input type="radio" id="r1" name="type" value="student" />
                Student
                <input type="radio" id="r2" name="type" value="hod" />
                HOD
                <input type="radio" id="r3" name="type" value="warden" />
                Warden
              </div> -->

              <!-- id -->
              <div class="form-group form-inline">
                  <label for="username" style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Username</label>
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  placeholder="username"
                  name="username"
                />
              </div>
              <!-- password -->
              <div class="form-group form-inline">
                  <label for="password"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Password</label>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="password"
                />
              </div>
              <!-- confirm password -->
              <div class="form-group form-inline">
                  <label for="cpassword"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Confirm Password</label>
                <input
                  class="form-control"
                  type="password"
                  id="cpassword"
                  name="password2"
                  placeholder="Confirm password"
                />
              </div>
              <!-- Department -->
              <div class="form-group form-inline">
                  <label for="department"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Department</label>
                <!-- <label for="department">Department</label> -->
                <!-- <input
                  class="form-control"
                  
                  type="text"
                  placeholder="Department"
                  id="department"
                  name="department"
                /> -->
                <select id="department"
                name="department" class="form-control" aria-label="Default select example"
                value="<%=(typeof inputData!='undefined') ? inputData.day: ''%>">
                <option selected></option>
                <option value="BScIT">BScIT</option>
                <option value="BScCS">BScCS</option>
                <option value="Blockchain">Blockchain</option>
                <option value="AI">AI</option>
                <option value="Fullstack">Fullstack</option>
                <option value="DigitalMedia">DigitalMedia</option>
              </select>

              </div>
              <!-- hostel -->
              <div class="form-group form-inline">
                  <label for="hostel"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Hostel</label>
                <!-- <label for="hostel">Hostel</label> -->
                <!-- <input
                  class="form-control"
                  type="text"
                  name="hostel"
                  id="hostel"
                  placeholder="Hostel"
                /> -->
                <select name="hostel" 
                id="hostel" class="form-control" aria-label="Default select example"
                value="<%=(typeof inputData!='undefined') ? inputData.day: ''%>">
                <option selected ></option>
                <option value="BlockA">Block A</option>
                <option value="BlockB">Block B</option>
                <option value="BlockC">Block C</option>
                <option value="BlockD">Block D</option>
                <option value="BlockE">Block E</option>
                <option value="BlockF">Block F</option>
                <option value="BlockG">Block G</option>
                <option value="BlockH">Block H</option>
                <option value="BlockI">Block I</option>
                <option value="BlockJ">Block J</option>
                <option value="BlockK">Block K</option>
                <option value="BlockM">Block M</option>
              </select>
              </div>
              <!-- image -->
              <div class="form-group form-inline">
                  <label for="img"style="width: 200px;
                  display: inline-block;
                  text-align: right;
                  ">Image Url</label>
                <input
                  class="form-control"
                  type="text"
                  id="img"
                  placeholder="img url"
                  name="image"
                />
              </div>

              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-lg btn-primary btn-default btn-block"
                  style=" color:#fff;"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
          <!-- name -->
        </form>

      </div>
    </div>
  </div>
  <% include ./partial/footer %>
</div>
