<% include ./partial/header %> <% include ./partial/studfunction %> 
<div
  class="col-sm-6"
  style="    flex: 0 0 50%;
max-width: 60%;
margin-left: 431px;
margin-top: -181px;  text-align: -webkit-center;"
>
<div class="container" >
    <table class="content-table"
    style="margin: 50px auto;min-width:400px;width: 90%; ">
      <tr
      style="background-color: #28A745; border-radius: 5px 5px 0 0;overflow: hidden;  color: #ffffff;text-align: left; font-weight: bold;"
      >
        <th>
          Subject
        </th>
        <th>
          From
        </th>
        <th>To</th>
        <th>Days</th>
        <th>HOD Status</th>
        <th>Warden Status</th>
        <th>Final Status</th>
        
      </tr>
      <%student.leaves.forEach(function(leave){%>

      <tr>
        <td><%=leave.subject%></td>
        <td><%=moment(leave.from).format('DD/MM/YYYY')%></td>
        <td><%=moment(leave.to).format('DD/MM/YYYY')%></td>
        <td><%=leave.days%></td>
        <td><%=leave.status%></td>
        <td><%=leave.wardenstatus%></td>
        <%if(leave.status==="approved" && leave.wardenstatus==="approved"){%>
         <%leave.finalstatus="approved"%>
        <%}%>
        <%if(leave.status==="denied" && leave.wardenstatus==="denied"){%>
          <%leave.finalstatus="denied"%>
         <%}%>
         <%if(leave.status==="denied" && leave.wardenstatus==="approved"){%>
          <%leave.finalstatus="denied"%>
         <%}%>
         <%if(leave.status==="approved" && leave.wardenstatus==="denied"){%>
          <%leave.finalstatus="denied"%>
         <%}%>
        <td><%=leave.finalstatus%></td>
      </tr>

      <%})%>
    </table>
  </div>
  </div>
  







</div>










<% include
./partial/footer %>
