<% include ./partial/header %><% include ./partial/wardenfunction%>
<div
  class="col-sm-9"
  style="margin: 50px 125px;    text-align: -webkit-center;margin-top: 100px;"
>
  <form
    action="/warden/<%=warden.id%>/leave/<%=student.id%>/info"
    method="POST"
  >
    <div style="margin-top: -300px"
      class="container-fluid bg-3 text-center"
      
    >
      <h4><%=student.name %></h4>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <!-- <img
            style="border-radius: 100%"
            src="<%=student.image%>"
            alt="image"
          /> -->
        </div>
        <%student.leaves.forEach(function(leave){%>
        <div class="col-sm-4">
          <h4>Subject:<%=leave.subject %></h4>
          <h4>Status:<%=leave.wardenstatus %></h4>
          <h4>From:<%=moment(leave.to).format('DD/MM/YYYY') %></h4>
          <h4>To:<%=moment(leave.from).format('DD/MM/YYYY') %></h4>
          <h4>Leave Days:<%=leave.days%></h4>
          <h4>Hostel:<%=student.hostel%></h4>
          <h4>Department:<%=student.department %></h4>
          <div style="float:inherit">
            <input
              type="submit"
              class="btn btn-block btn-success"
              name="action"
              value="Approve"
            />
            <input
              type="submit"
              class="btn btn-block btn-danger"
              name="action"
              value="Decline"
            />
          </div>
        </div>

        <%})%>
      </div>
    </div>
  </form>
</div>
<% include ./partial/footer %>
