<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Leave Management System</title>
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body data-spy="scroll" data-target="#mainNavbar" data-offset="10">
    <nav
      id="mainNavbar"
      class="navbar navbar-default navbar-expand-lg navbar-dark bg-success navbar-fixed-top"
    >
      <div class="container">
      
        <a class="navbar-brand" href="/">
          <img  src="https://scontent.fpbh1-1.fna.fbcdn.net/v/t39.30808-6/315074673_1457508708075465_739810522043851672_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=f-P138SjYSkAX_nA3eh&_nc_ht=scontent.fpbh1-1.fna&oh=00_AfBuzv62ehPEH75c0tji386Lb_2_jzeq_tgO1oKV4I3mWQ&oe=63719C54"
          width="70px" height="30px"
          style="margin-left: -180px"
          />
        </a>
       
        
        
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="navbar-nav ml-auto"
            style=" list-style-type: none;
          margin: 0;
          padding: 0;
          width: 363px;"
          >
            <% if(user){%>
            <!-- <li><a href="#">Signed in as <%= user.type%></a></li> -->

            <li class="nav-item">
              <a class="nav-link " style="margin-left: 284px" href="/logout"
                >Logout
              </a>
            </li>

            <%}%> <% if(!user){%>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Contact </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="" style="margin-left: 100px">About Us </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/student/login" >Student</a>
                </li>
                <li><a class="dropdown-item" href="/hod/login">HOD</a></li>

                <li>
                  <a class="dropdown-item" href="/warden/login">SSO</a>
                </li>
              </ul>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if(error && error.length >0){%>
      <div
        class="alert alert-danger"
        style="position: relative;top: 100px;"
        role="alert"
      >
        <%= error %>
      </div>
      <% } %> <% if(success && success.length >0){%>
      <div class="alert alert-success" style="top:100px;" role="alert">
        <%= success %>
      </div>
      <% } %>
    </div>
  </body>
</html>
